@import "../abstract/variables";
// Unicef Section
.unicef-div {
  background-color: var(--AppleGrey);
}

.unicef-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.unicef-section img {
  width: 100px;
}
.donate-link {
  text-decoration: none;
  width: 70%;
  text-align: center;
}
// MacBook Air Section
.macbook-section {
  background-image: url(./img/hero_macbookair__el7scava26mq_small_2x.png);
  background-size: 800px auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;
}
.unit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  h2 {
    font-size: 2rem;
  }
  img {
    width: 190px;
    padding: 0.5rem;
  }
  .avail {
    color: var(--Grey);
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
  }
  div {
    display: flex;
    gap: 3rem;

    a:link,
    a:visited {
      text-decoration: none;
    }
    a:hover,
    a:active {
      text-decoration: underline;
    }
    i {
      padding-left: 5px;
    }
  }
}

// Tablet
// @media only screen and (max-width: 700px) {
//   .macbook-section {
//     background-size: cover;
//   }
// }
// Large Screen
@media only screen and (min-width: 834px) {
  .unicef-section {
    flex-direction: row;
  }
  .donate-link {
    width: 100%;
    text-align: start;
  }
}
