@import "../abstract/variables";

body{
  font-family: Apple;
}

// Unicef Section
.unicef-div {
  background-color: var(--AppleGrey);
}

.unicef-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.unicef-section img {
  width: 100px;
}
.donate-link {
  text-decoration: none;
  width: 50%;
  text-align: center;
}

@media only screen and (min-width: 390px) and (max-width: 414px){
  .unicef-div{
    font-size: 10px;
  }
}
// MacBook Air Section

.MBAIRimg{
  background-image: url(/src/img/hero_macbookair__el7scava26mq_small_2x.png);
  width: 100%;
  height: 500px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.MBPROimg{
  background-image: url(/src/img/hero_mbp13__f88jcbca0ve6_small_2x.jpg);
  width: 100%;
  height: 500px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.iPhoneimg{
  background-image: url(/src/img/hero_iphone13_avail__gnqqkzuai6um_small_2x.jpg);
  width: 100%;
  height: 500px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.iPhoneimg2{
  background-image: url(/src/img/promo_iphone13pro_avail__beadms4ldidu_small_2x.jpg);
  width: 100%;
  height: 500px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.Applecardimg{
  background-image: url(/src/img/tile__cauwwcyyn9hy_small_2x\ \(1\).jpg);
  width: 100%;
  height: 500px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.Katyimg{
  background-image: url(/src/img/promo_katy_perry__eqekd92guu4i_small_2x.jpg);
  width: 100%;
  height: 500px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

.unit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
  h2 {
    font-size: 2rem;
  }
  .logoimg {
    width: 190px;
    
  }
  .avail {
    color: var(--Grey);
    font-size: 1.1rem;
    
  }
  .prdctinfo{
    color: black;
    font-size: 1.1rem;
    
  }
  .prdctinfoK{
    color: white;
    font-size: 1.1rem;
    
  }

  
  div {
    display: flex;
    gap: 3rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: rgb(15, 130, 168);
    }
    a:hover,
    a:active {
      text-decoration: underline;
    }
    i {
      padding-left: 5px;
    }
  }
}

// Tablet
// @media only screen and (max-width: 700px) {
//   .macbook-section {
//     background-size: cover;
//   }
// }
// Large Screen
@media only screen and (min-width: 834px) {
  .unicef-section {
    flex-direction: row;
  }
  .donate-link {
    width: 100%;
    text-align: start;
  }
  
}


@media only screen and (min-width: 414px) and (max-width: 768px){
  .centered{
    font-size: 20px;
    h2{
      font-size: 30px;
    }
    .avail,
    .prdctinfo{
      font-size: 20px;
    }
  }
  .product-image{
    height: 570px;
  }
}
@media only screen and (min-width: 390px) and (max-width: 414px){
  .unit-wrapper{
    padding-top: 20px;
    line-height: 15px;
    h2{
      font-size:19px ;
    }
    div{
      font-size: 9px;
    }
    .avail{
      font-size: 9px;
    }
  }
  .product-image{
    height: 285px;
  }
}





/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
  
  

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 40%;
  }
  
}
.container2{
  h2{
    color: var(--AppleGrey);
  }
  p{
    color: var(--Grey);
  }
} 

.KTlink{
  color: yellowgreen !important;
}
  




