@import "../abstract/variables";

footer {
  background-color: var(--AppleGrey);
  color: var(--Grey);
  font-size: 0.9rem;
  p {
    padding: 0.4rem 0;
    a:link,
    a:visited {
      color: black;
      text-decoration: none;
    }
    a:hover,
    a:active {
      text-decoration: underline;
    }
  }
}
.footer-paragraphs {
  border-bottom: 1px solid var(--Grey);
  width: 95%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer-list {
  width: 95%;
  margin: 0 auto;
  padding-top: 1rem;
}
.footer-ul {
  list-style-type: none;
  .span-li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Grey);
    padding: 0.5rem 0;
  }
}
.footer-dropdown {
  display: none;
  list-style-type: none;
}
.footer-ul li:hover {
  .footer-dropdown {
    display: block;
    width: 100%;
  }
}
// FOOTER COPYRIGHT
.footer-links {
  display: flex;
  width: 400px;
  justify-content: space-between;
  p {
    border-left: 1px solid var(--Grey);
    // padding: 0.3rem;
  }
}
