header{
    position: sticky;
}


//mobile
@media only screen and (max-width: 480px) {   
        header{
            width: auto;
            background-color: rgb(27, 26, 26);
            opacity: 9;
        
        ul{
            justify-content: space-evenly;
            display: flex;
            list-style: none; 
            li{
               color: #f5f5f7;
               padding-top: 1rem; 
               padding-bottom: 1rem;
            }
            li:nth-child(1){
                padding-left: 2rem;
            }
            li:nth-child(3){
                
               padding-right: 2rem;
            }
        }
}

.DTonly{
    display: none;
}
}

//tablet
@media only screen and (max-width: 833px) {
        header{
            
            width: auto;
            
            ul{
                justify-content: space-between;
                display: flex;
                list-style: none; 
                
                li{
                    
                }
            }
        }
.DTonly{
    display: none;
}
}




//desktop
@media only screen and (min-width: 834px){
        header{
        
        width: auto;
        
        ul{
            justify-content: space-between;
            display: flex;
            list-style: none; 
            padding-left: 50px;
            li{
                
            }
        }
    }
.TBonly{
    display: none;
}
}