* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  color: #f5f5f7;
  background-color: rgb(27, 26, 26);
}

@media only screen and (max-width: 480px) {
  header {
    width: auto;
  }
  header ul {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
  }
  header ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header ul li:nth-child(1) {
    padding-left: 2rem;
  }
  header ul li:nth-child(3) {
    padding-right: 2rem;
  }
  header ul li:hover {
    color: white;
  }
  .DTonly {
    display: none;
  }
}
@media only screen and (max-width: 833px) {
  header {
    width: auto;
  }
  header ul {
    justify-content: space-between;
    display: flex;
    list-style: none;
  }
  header ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header ul li:nth-child(1) {
    padding-left: 2rem;
  }
  header ul li:nth-child(3) {
    padding-right: 2rem;
  }
  header ul li:hover {
    color: white;
  }
  .DTonly {
    display: none;
  }
}
@media only screen and (min-width: 834px) {
  header {
    width: auto;
  }
  header ul {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  header ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .TBonly {
    display: none;
  }
}
:root {
  --Grey: #484848;
  --AppleGrey: #f5f5f7;
}

.unicef-div {
  background-color: var(--AppleGrey);
}

.unicef-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
  padding: 10px;
}

.unicef-section img {
  width: 100px;
}

.donate-link {
  text-decoration: none;
  width: 70%;
  text-align: center;
}

.macbook-section {
  background-image: url(./img/hero_macbookair__el7scava26mq_small_2x.png);
  background-size: 800px auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;
}

.unit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.unit-wrapper h2 {
  font-size: 2rem;
}
.unit-wrapper img {
  width: 190px;
  padding: 0.5rem;
}
.unit-wrapper .avail {
  color: var(--Grey);
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
.unit-wrapper div {
  display: flex;
  gap: 3rem;
}
.unit-wrapper div a:link,
.unit-wrapper div a:visited {
  text-decoration: none;
}
.unit-wrapper div a:hover,
.unit-wrapper div a:active {
  text-decoration: underline;
}
.unit-wrapper div i {
  padding-left: 5px;
}

@media only screen and (min-width: 834px) {
  .unicef-section {
    flex-direction: row;
  }
  .donate-link {
    width: 100%;
    text-align: start;
  }
}
:root {
  --Grey: #484848;
  --AppleGrey: #f5f5f7;
}

footer {
  background-color: var(--AppleGrey);
  color: var(--Grey);
  font-size: 0.9rem;
}
footer p {
  padding: 0.4rem 0;
}
footer p a:link,
footer p a:visited {
  color: black;
  text-decoration: none;
}
footer p a:hover,
footer p a:active {
  text-decoration: underline;
}

.footer-paragraphs {
  border-bottom: 1px solid var(--Grey);
  width: 95%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-list {
  width: 95%;
  margin: 0 auto;
  padding-top: 1rem;
}

.footer-ul {
  list-style-type: none;
}
.footer-ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Grey);
  padding: 0.5rem 0;
}

/*# sourceMappingURL=main.css.map */
